@import "tailwindcss";

:root {
    --color-primary: #2563eb;
    /* blue-600 */
    --color-secondary: #64748b;
    /* slate-500 */
    --color-warning: #ef4444;
    /* red-500 */
    --color-success: #22c55e;
    /* green-500 */
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans TC", sans-serif;
}